.bigButton {
    height: 72.803px;
    font-size: 20px;
    border-radius: 60px;
    color: #FFF;
    text-align: center;
    font-family: Sofia Sans;
    text-transform: uppercase;
    background-color: #2B2B2B;
    border: 1px solid white;
    margin: 6px;
    padding: 10px 30px;
}